/* main layout styles */

#noticebox {
	display: none;
	background: yellow;
}

body {
	background: url("/assets/background_wood.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#page {
	margin: 0px auto;
	width: 100%;
}

.blog {
	margin: 0px auto 0px;
	width: 93.75%; /* 900px / 960px */
	overflow: hidden;
}

h1 {
	padding: 0.8em 5.33333333%; /* 48px / 900px */
}

.blog .left, .blog .main, .blog .right {
	float: left;
	width: 33.3333333333333%; /* 300px / 900px */
}

.header {
	width: 100%;
	margin: 0 auto;
}

/* main content styles */

#download, .hover {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100px;
	display: block;
	background: url("../images/freedownload.png") no-repeat	0 0;
	cursor: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s liner;
}

.hover {
	background-position: 0 -100px;
	opacity: 0;
	-webkit-transition: opacity 0.3s linear;
}

.hover:hover {
	opacity: 1;
}

.lense {
	padding-top: 20%;
	padding-bottom: 20%;
}

img.logo {
	margin-top: 50px;
	margin-left: 50px;
}

div.emailform {
	font-family: 'Yanone Kaffeesatz', arial, sans-serif;
	font-size: 1.5em;
	color: rgba(240,240,240,1);
}

input.email {
	font-size: 1.5em;
    background: rgba(255,255,255,1);  
    color:  rgba(0,0,0,1);
    width: 98%;/* 285px / 300px */
    border: none;
}

input.submit {
	font-size: 1em;
	background: rgba(0,150,255,1);
	width: 100%;/* 300px / 300px */
	color: rgba(255,255,255,1);
	border: none;
}

input.email, input.submit {
	font-family: 'Yanone Kaffeesatz', arial, sans-serif;
    padding: 5px 2px 5px 4px;
    height: 38px;
    line-height: 1.4em;
    margin-top: 5px;
	-moz-box-shadow: inset 1px 2px 3px rgba(0,0,0,.5);
   	-webkit-box-shadow: inset 1px 2px 3px rgba(0,0,0,.5);
   	box-shadow: inset 1px 2px 3px rgba(0,0,0,.5);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-transition: background 0.3s linear;
	-webkit-transition: background 0.3s linear;
	-o-transition: background 0.3s linear;
	transition: background 0.3s linear;
}

input.email:hover {
	background: rgba(200,200,200,1);
}

input.submit:hover { 
    background: rgba(0,214,37,1);
}

.messageunit, .recentl, .recentr {
	margin: 0 auto;
	padding: 10px 20px;
	text-align: center;
	min-height: 1px;
}

ul.leftlist, ul.rightlist {
	width: 100%;
}

ul.leftlist li, ul.rightlist li {
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
	color: white;
	text-align: center;
}

/* spans and headlines */

span1 {
	font: Calibri, Optima, Arial, sans-serif;
	font-weight: normal;
	font-size: 1em;
	font-style: italic;
	line-height: 1.5em;
	word-spacing: -0.0625em;
}

span2 {
	font-size: 0.8em;
	text-overflow: ellipsis;
	font-style: italic;
	font-weight: normal;
}

span3 {
	font-size: 0.8em;
}

/* footer styles */

#footer {
	clear: both;
	margin: 0 auto;
}

.footmain {
	margin: 20px auto 20px;
	width: 100%;
}

.footmain ul {
	text-align: center;
}

.footmain ul li {
	display: inline-block;
	padding: 1em;
	font-size: 1em;
	list-style: none;
}

/* image styles */

img.iphone {
   	width: 381px;
   	height: 747px;
}

img.title {
	display: table-cell;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

.appstorebadge {
	padding-top: 20px;
	display: none;
}


/* media queries */

@media screen and (max-width: 768px) {
  .blog .left, .blog .main, .blog .right {
	float: none;
	width: 100%;
  }
  .lense {
	padding-top: 10%;
	padding-bottom: 10%;
  }
}